

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
#header{
    position: fixed;
    background: #008cff;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top .4s;
    z-index: 100;
}
#header .logo{
    font-size: 25px;
    color: #031540;
    text-decoration: none;
    font-weight: 700;
}
#header .navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
#header .navbar a:hover ,#header
.navbar a.active {
    color: rgb(253, 137, 154);
}
.home{
    height: 100vh;
    background: linear-gradient(-90deg,#031540 65%,#fff 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.home-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 322px;
    background: #031540;
    border-radius: 50%;
    border: 15px solid #fff;
    outline: 15px solid #031540;
}
.home-image img{
    margin-right: 5px;
    position: relative;
    max-width : 320px;
    bottom: 7%;
    border-radius: 34%;
    overflow: hidden;
}
.home-content{
    max-width: 600px;
    color: #fff;
    text-align: right;
}
.home-content h1{
    font-size: 40px;
    line-height: 1.2;
}
.home-content h3{
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: .5px #ff568c;
    background-image: linear-gradient(#00abf0,#00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 6s linear infinite;
}
@keyframes animateText{
    0%,95%,100%{
        background-position: -410 0;
    }
    65%,85%{
        background-position: 0 0;
    }
}
.home-content p{
    font-size: 16px;
    margin-top: 20px;
}
.home-sci{
    margin: 25px 0 40px;
}
.home-sci  a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;

}
.home-sci a:hover{
    background: #00abf0;
    color: #fff;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}
small{
    animation: effect 2s linear infinite;
}
@keyframes effect{
    0%{
        color: chartreuse;
    }
    50%{
        color: #fff;

    }
    100%{
        color: red;
    }
}
.btn{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
    padding: 12px 35px;
    background-color: #00abf0;
    border-radius: 50px;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
}
.btn:hover{
    box-shadow: none;
}
.dec{
    width: 100%;
    height: 100%;
    position: relative;
}
.header .dec{
    position: static;
}
.main{
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background: #112d42;
}
.main::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background: #03a9f4;
}
.main .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    margin-top: 100px;
}
.main .container .contactinfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: 70%;
    background: #0f3959;
    z-index: 80;
    overflow: hidden;
    margin-left: 60px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    
}
.main .container .contactinfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.main .container .contactinfo .info{
    position: relative;
    margin: 20px 0;
}
.main .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.main .container .contactinfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}
.main .container .contactinfo .info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: .5;
}
.main .container .contactinfo .info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}
.main .container .contactinfo .info li:hover span:nth-child(1)img,
.main .container .contactinfo .info li:hover span:nth-child(1){
    opacity: 1;
}
.main .container .contactinfo .sci{
    position: relative;
    display: flex;
}
.main .container .contactinfo .sci li {
    list-style: none;
    margin-right: 15px;
    margin-left: 20px;
}
.main .container .contactinfo .sci li a{
    text-decoration: none;
 
}
.main .container .contactinfo .sci li a .bx{
    filter: invert(1);
    opacity: .5;
    height: 120px;
    font-size: 30px;
}

.main .container .contactinfo .sci li:hover a .bx{
    opacity: 1;
}
.main .container .contactForm{
    position: absolute;
    padding: 0px 50px;
    background: #fdfcfc;
    margin-left: 260px;
    padding-left: 250px;
    width: 70%;
    height: 90%;
    justify-content:center;
    align-items: center;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow-y: auto;
}
.main .container .contactForm h2{
    color: #0f3959;
    font-style: 24px;
    font-weight: 500;
}
.rating-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.star {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.star:hover,
.star.checked {
    color: #ffcc00;
}
.main .container .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.main .container .contactForm .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}
.main .container .contactForm .formBox .inputBox.w50{
    position: absolute;
    width: 47%;
}
.upper-text {
    position: absolute;
    top: -30%; 
    left: 0%; 
    background-color: #fff;
    color: #333;
    height: 20px; 
    width: 150px;
    transition: color 0.3s ease;
}
.upper-text-rating {
    position: relative;
    top: -30%; 
    left: 0%;
    background-color: #fff;
    color: #333;
    height: 20px; 
    width: 150px;
    transition: color 0.3s ease;
}
.inputBox {
position: relative;
padding-bottom: 20px;
margin: 0 0 35px 0;
width: 100%;
}
.inputBox input,
.inputBox textarea {
    width: calc(100% - 10px); /* Adjust the width as needed */
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #300;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.inputBox textarea {
    min-height: 120px;
}
.body-wrap {
    overflow-y: auto; /* Add scrollbar to the y-axis */
}

.main {
    overflow: hidden; /* Hide overflowing content */
}
.inputBox.w50 input:focus + .upper-text, .inputBox.w50 input:valid + .upper-text {
    color: #00c3ff;
}
.main .container .contactForm .formBox .inputBox.w100{
    width: 100%;
}
.inputBox.w100 input:focus + .upper-text, .inputBox.w50 input:valid + .upper-text {
    color: #00c3ff;
}
.main .container .contactForm .formBox .inputBox input,
.main .container .contactForm .formBox .inputBox textarea
{
    width: 100% !important;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #300;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}
.main .container .contactForm .formBox .inputBox textarea{
    min-height: 120px;
}
.main .container .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-style: 18px;
    font-weight: 300;
    color: #333;
    transition: .5s;
    pointer-events: none;
}
.main .container .contactForm .formBox .inputBox input:focus ~ span,
.main .container .contactForm .formBox .inputBox textarea:focus ~ span,
.main .container .contactForm .formBox .inputBox input:valid ~ span,
.main .container .contactForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}

.button{
    text-decoration: none;
    list-style: none;
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: #fdfcfc;
    border: none;
    min-width: 150px;
    padding: 15px;
}
.button:hover{
    background: #ff568c;
    color: #0f3959;
}