/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.header {
    background-color: #333;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Main Sections */
.section {
    padding: 50px 0;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.card-options {
    display: flex;
    justify-content: space-around;
}

.card-option {
    width: 30%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform

}
.logo {
    margin-left: -70%;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    margin-left: 70%;
    margin-top: -30px;
    list-style: none;
    display: flex;
}
.card-option img {
    width: 100%; /* Ensures the image fills the container */
    max-width: 200px; /* Limit the maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pla{
    width: 50%;
    max-width: 100px;
}

.buy-button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buy-button:hover {
    background-color: #45a049;
}

.buy-button:active {
    transform: translateY(2px);
}

.buy-button:focus {
    outline: none;
}

.buy-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.buy-button:disabled:hover {
    background-color: #ccc;
}

.card-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-option:hover img {
    filter: brightness(0.8);
}

.card-option:hover .buy-button {
    background-color: #45a049;
}

.card-option:hover .buy-button:active {
    transform: translateY(0);
}
